{
	email {$ACME_EMAIL}
	admin off
}

{$DOMAIN} {
	encode zstd gzip

	reverse_proxy web:8080 {
		health_uri /health
		health_interval 30s
		health_timeout 5s
		health_headers {
			Host {$DOMAIN}
		}
	}

	log {
		output stdout
		format console
	}
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri} permanent
}
